{
  "general": {
    "logconfig": "config/logging.xml",
    "pidfile": "burrowx.pid",
    "clientId": "burrowx-lagchecker",
    "groupBlacklist": "^(console-consumer-|python-kafka-consumer-).*$",

    "topicFilter" : "*",

    "clientProfile" : {
        "some_key" : {
          "clientId" : "xxxx",
          "tls" : "xxx",
          "tlsNoverify" : "xxxx",
          "tlsCertfilepath" : "xxxx",
          "tlsKeyfilepath" : "xxx",
          "tlsCafilepath" : "xxxx"
        }
    }
  },
  "zookeeper": {
    "hosts": "localhost:2181",
    "timeout": 6,
    "lock-path": "/burrow/notifier"
  },
  "kafka": {
    "local": {
      "brokers": "localhost:9092",
      "zookeepers": "localhost:2181",
      "offsetsTopic": "__consumer_offsets",
      "clientProfile": ""
    }
  },
  "influxdb": {
    "enable": true,
    "hosts": "http://localhost:8086",
    "db": "burrowx",
    "username": "",
    "pwd": ""
  }
}
