{
  "general": {
    "logconfig": "config/logging.xml",
    "pidfile": "burrowx.pid",
    "clientId": "burrowx-lagchecker",
    "groupBlacklist": "^(console-consumer-|python-kafka-consumer-).*$"
  },
  "zookeeper": {
    "hosts": "s1:2181",
    "timeout": 6,
    "lock-path": "/burrow/notifier"
  },
  "kafka": {
    "local": {
      "brokers": "s1:9092",
      "zookeepers": "s1:2181",
      "offsetsTopic": "__consumer_offsets",
      "clientProfile": ""
    }
  },
  "influxdb": {
    "enable": true,
    "hosts": "http://s1:8086",
    "db": "burrowx",
    "username": "",
    "pwd": ""
  }
}