{
  "general": {
    "logconfig": "config/logging.xml",
    "pidfile": "burrowx.pid",
    "clientId": "burrowx-lagchecker",

    "topicFilter" :  "topic_regex1,topic_regex2",
    "group_filter" :  "group_regex1,group_regex2",


    "@desc" : "client infos, such as tls",
    "clientProfile" : {
        "some_key" : {
          "clientId" : "some_client_id",
          "tls" : false,
          "tlsNoverify" : false,
          "tlsCertfilepath" : "xxxx",
          "tlsKeyfilepath" : "xxx",
          "tlsCafilepath" : "xxxx"
        }
    }
  },
  "zookeeper": {
    "hosts": "localhost:2181",
    "timeout": 6,
    "lock-path": "/burrow/notifier"
  },
  "kafka": {
    "local": {
      "brokers": "localhost:9092",
      "@desc" :  "client info key to client infos",
      "clientProfile": ""
    }
  },
  "influxdb": {
    "enable": true,
    "hosts": "http://localhost:8086",
    "db": "burrowx",
    "username": "",
    "pwd": ""
  }
}
